.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption .material-icons{
    padding: 20px;
  }
  
  .sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .sidebarOption.active {
    color: var(--twitter-color);
  }
  
  .sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
  }
  .sidebar{
    /* background-color: #e6ecf0; */
    overflow-x: hidden;
    height:100%;
    padding-top: 20px;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}