<div class="sidenav">
    <div class="login-main-text">
        <h2>Tweet App<br></h2>
    </div>
</div>


<div class="container">
    <div class="maintweet" *ngIf="isLogin">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form #loginform="ngForm" (ngSubmit)="onLoginSubmit(loginform)">
                    <div class="form-group">
                        <label><b>Login ID</b></label>
                        <input type="text" class="form-control" name="username" #username="ngModel" ngModel
                            id="username" placeholder="LoginID" required>
                        <small class="form-text form-muted" *ngIf="username.touched && !username.valid">Enter
                            username</small>
                    </div>
                    <div class="form-group">
                        <label><b>Password</b></label>
                        <input type="password" class="form-control" name="password" #password="ngModel" ngModel
                            id="password" placeholder="Password" (change)=onChangePassword($event) required>
                        <small class="form-text form-muted" *ngIf="password.touched && !password.valid">Enter
                            password</small>
                    </div>
                    <button type="submit" class="btn btn-black loginbutton"
                        [disabled]="!loginform.valid || showError">Login</button>
                    <button type="button" class="btn btn-black" (click)=onRegister($event)>Register</button>
                </form>
            </div>
        </div>
        <div class=“message” style="
        margin-top: 50px" *ngIf="showError">

            <h4>Password must contain the following:</h4>

            <p class=“invalid”>A <b>lowercase</b> letter</p>

            <p class=“invalid”>A <b>capital (uppercase)</b> letter</p>

            <p class=“invalid”>A <b>number</b></p>

            <p class=“invalid”>Minimum <b>8 characters</b></p>

        </div>
    </div>
    <div class="maintweet" *ngIf="isRegister">
        <div class="col-md-6 col-sm-12">
            <div class="register-form">
                <form #registerform="ngForm" (ngSubmit)="onRegisterSubmit(registerform)">
                    <div class="form-group">
                        <label><b>FirstName</b></label>
                        <input type="text" class="form-control" name="firstname" #firstname="ngModel" ngModel
                            id="firstname" placeholder="FirstName" required>
                        <small class="form-text form-muted" *ngIf="firstname.touched && !firstname.valid">Enter
                            firstname</small>
                    </div>
                    <div class="form-group">
                        <label><b>LastName</b></label>
                        <input type="text" class="form-control" name="lastname" #lastname="ngModel" ngModel
                            id="lastname" placeholder="LastName" required>
                        <small class="form-text form-muted" *ngIf="lastname.touched && !lastname.valid">Enter
                            lastname</small>
                    </div>
                    <div class="form-group">
                        <label><b>Email</b></label>
                        <input type="text" class="form-control" name="email" #email="ngModel" ngModel
                            id="email" placeholder="Email Id" required>
                        <small class="form-text form-muted" *ngIf="email.touched && !email.valid">Enter
                            email</small>
                    </div>
                    <div class="form-group">
                        <label><b>Contact Number</b></label>
                        <input type="text" class="form-control" name="number" #number="ngModel" ngModel
                            id="number" placeholder="LoginID" required>
                        <small class="form-text form-muted" *ngIf="number.touched && !number.valid">Enter contact 
                            number</small>
                    </div>
                    <div class="form-group">
                        <label><b>LoginId</b></label>
                        <input type="text" class="form-control" name="username" #username="ngModel" ngModel
                            id="username" placeholder="LoginID" required>
                        <small class="form-text form-muted" *ngIf="username.touched && !username.valid">Enter
                            username</small>
                    </div>
                    <div class="form-group">
                        <label><b>Password</b></label>
                        <input type="password" class="form-control" name="password" #password="ngModel" ngModel
                            id="password" placeholder="Password" (change)=onChangePassword($event) required>
                        <small class="form-text form-muted" *ngIf="password.touched && !password.valid">Enter
                            password</small>
                    </div>
                    <div class="form-group">
                        <label><b>Confirm Password</b></label>
                        <input type="password" class="form-control" name="cpassword" #cpassword="ngModel" ngModel
                            id="cpassword" placeholder="Password" (change)=onChangePassword($event) required>
                        <small class="form-text form-muted" *ngIf="cpassword.touched && !cpassword.valid">Enter
                            password</small>
                    </div>
                    <button type="button" class="btn btn-black" (click)=onLogin($event)>Back</button>
                    <button type="submit" class="btn btn-black" (click)=onRegister($event) [disabled]="!registerform.valid || showError">Register</button>
                </form>
            </div>
        </div>
        <div id=“message” *ngIf="showError">

            <h4>Password must contain the following:</h4>

            <p class=“invalid”>A <b>lowercase</b> letter</p>

            <p class=“invalid”>A <b>capital (uppercase)</b> letter</p>

            <p class=“invalid”>A <b>number</b></p>

            <p class=“invalid”>Minimum <b>8 characters</b></p>

        </div>
    </div>

</div>