body {
    font-family: "Lato", sans-serif;
}

.maintweet{
    margin-left: 60%; 
}
.sidenav{
    background-color: rgb(55, 148, 172);
    overflow-x: hidden;
    height:100%;
    padding-top: 20px;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.form-group{
    margin-bottom: 10px;
}
.login-form{
    width: 250px;
    height: 220px;
    margin-top: 50%;
}
.register-form{
    margin-top: 30px;
}
.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: rgb(255, 255, 255);
}

/* .login-main-text h2{
    font-weight: 300;
} */
.btn-black{
    background-color: rgb(55, 148, 172);
    margin:5px;
    color: #fff;
    font-size: 14px;
    padding: 5px,8px;
}

button[disabled]{
    padding: 5px,8px;
    margin:5px;
    color: #fff;
    font-size: 14px;
}

label{
    padding-bottom: 3px;
    color: rgb(55, 148, 172);
    font-size: initial;
}
  input.ng-touched.ng-invalid{
      border: 2px solid red;
  }
  input.ng-valid{
    border: 2x solid rgb(55, 148, 172);
  }