.gradient-custom {
    background: #08bdeb;
    background: -webkit-linear-gradient(to right bottom, rgb(36, 233, 240), rgb(16, 206, 180));
    background: linear-gradient(to right bottom, rgb(18, 223, 250), rgb(3, 197, 204))
  }

  /* .align-section{
      position: absolute;    
     width: 100%;
  } */

  .avatar{
    width:200px;
  }
  .main{
    overflow-x: hidden;
    height:100%;
    padding-top: 20px;
    padding-left: 20pxd;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}
input.ng-touched.ng-invalid{
  border: 2px solid red;
}
input.ng-valid{
border: 2x solid rgb(55, 148, 172);
}

small{
  color:red;
}
label{
  color:rgb(55, 148, 172);
}

button{
  margin-right: 5px;
}