<div class="tweet-container">
    <img class="avatar" src="'../../../assets/avatar.jpg" alt="avatar image" />
    <span style="
    font-size: small;
    font-weight: bold;
    color: rgb(55, 148, 172);">{{' @'+tweet.loginId}}</span>

    <img class="likeIcon" *ngIf="!isLiked" src="'../../../assets/tweet-unlike.png" alt="avatar image"
        (click)="onLikeClick()" />
    <img class="likeIcon" *ngIf="isLiked" src="'../../../assets/tweet-like.png" alt="avatar image"/>

    <span class="likeCount">{{tweet.likeCount}}</span>
    <span class="postTime"> {{tweet.postedDate}} </span>
    <p> {{tweet.tweet}}</p>
</div>